{{ partial "header" . }}
<article>
	<header>
		{{ partial "title" . }}
		{{ with .Content }}{{.}}{{ end }}
	</header>
	{{ $latestcount := .Site.Params.LatestCount | default 3 }}
	{{ $postsection := .Site.Params.PostSection | default "post" }}
	<section>
        <h4>About</h4>
        {{ partial "about.html" }}
        <hr class="sep" />
    </section>
    
    
    <!--<section>
		<h4>{{ T "latestPost" }}</h4>
		<ul class="no-bullet">
        {{ range (first 5 (where site.RegularPages "Section" "blog")) }}
        {{ partial "li" . }}
        {{ end }}
		</ul>
	</section><-->
	<section>
		<h4>Featured Posts</h4>
		<ul class="no-bullet">
			{{ range ( first 5 ( site.RegularPages.ByParam "featured")) }}
			{{ partial "li" . }}
			{{ end }}
		</ul>
	</section>
</article>
{{ partial "footer" . }}
