<p>I lead growth marketing for Mailgun, one of the largest email service providers in the world, and I'm a <a href="/consulting/">freelance digital marketing consultant</a>.</p><br>

<p>I've spent <a href="/blog/i-spent-6-million-on-google-ads-last-year-here-s-what-i-learned/">millions of dollars on Google ads</a>  and hit the <a href="/blog/what-happens-when-you-re-on-the-front-page-of-hacker-news/">front page of Hacker News</a>.</p><br>

<p>Now I'll take everything I learned and share it with you for free. </p>