<p>I've been using a computer since AOL dial-up was still a thing. I realize that dates me a bit but I know a thing or two about the internet.</p><br>

<p>I've spent <a href="/blog/i-spent-6-million-on-google-ads-last-year-here-s-what-i-learned/">millions of dollars on Google ads</a>, hit the <a href="/blog/what-happens-when-you-re-on-the-front-page-of-hacker-news/">front page of Hacker News</a>, and <a href="/consulting/">consulted</a> for multi-milion dollar companies.</p><br>

<p>Now I'll take everything I learned and share it with you for free. </p>