<p>I lead growth marketing at <a href="https://www.loom.com">Loom</a>, a workplace video communication platform. I previously lead growth marketing at Mailgun.</p><br>

<p>I've spent <a href="/blog/i-spent-6-million-on-google-ads-last-year-here-s-what-i-learned/">millions of dollars on Google ads</a>  and hit the <a href="/blog/what-happens-when-you-re-on-the-front-page-of-hacker-news/">front page of Hacker News</a>.</p><br>

<p>This blog is a repository of everything I've learned in my career so far and some of my favorite recipies. Try my <a href="/recipes/guacamole">guacamole recipe</a>. Seriously.</p>